#Python packages transitional dependencies

# depdendencies of cryptography 
cffi==1.14.5
# depdendencies of python==3.6
numpy==1.19.2
# dependency of cifi
pycparser==2.20
# dependency of aiohttp
aiosignal==1.2.0
async-timeout==4.0.2
asynctest==0.13.0
charset-normalizer==2.0.12
frozenlist==1.2.0
