[all:vars]
ansible_connection=ssh
ansible_user=root
ansible_ssh_common_args='-o StrictHostKeyChecking=no'

[srvnodes] 
{% set count = namespace(value=0) %}
{% for node in NODES.split(',') %}
  {{ count.value }}
  {% set count.value = count.value + 1 %}
  srvnode-{{ node_count }} ansible_host={{ node }}
{% endfor %}
