{
 "cluster": {
    "server_nodes": {
      "{{ MACHINE_ID }}": "srvnode-1"
    },
    "srvnode-1": {
      "machine_id": "{{ MACHINE_ID }}",
      "hostname": "{{ HOSTNAME }}",
      "node_type": "VM",
      "network": {
        "data": {
          "public_interfaces": [
            "eth1",
            "eth2"
          ],
          "private_interfaces": [
            "eth3"
          ],
           "interface_type": "tcp",
          "transport_type": "lnet"
        }
      },
      "storage": {
        "enclosure_id": "enclosure-1",
        "metadata_devices": [
          "{{ METADATA_DEVICE }}"
        ],
        "data_devices": [
          "{{ DATA_DEVICE }}"
        ]
      },
      "s3_instances": "11"
    }
  }
}
