global:
  scrape_interval: 5s
  external_labels:
    monitor: 'disk-monitor'

rule_files:
# All mountpoints in alert.rules have been manually mounted onto the node.
  - 'alert.rules'

# Change all ips below to that of the mounted node.
scrape_configs:
  - job_name: 'prometheus'
    static_configs: 
      - targets: ['10.230.242.163:9090']

  - job_name: 'node-exporter'
    static_configs: 
      - targets: ['10.230.242.163:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['10.230.242.163:8080']

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets:
      - "10.230.242.163:9093"
