{
  "haproxy": {
    "backend": {
      "s3authserver": {
        "ssl_enabled": false
      },
      "s3server": {
        "ssl_enabled": false
      }
    },
    "frontend": {
      "s3authserver": {
        "ssl_enabled": true
      },
      "s3server": {
        "ssl_enabled": true
      }
    },
    "nbproc": 12
  },
  "openldap": {
    "root": {
      "user": "{{ LDAP_ROOT_USER }}",
      "secret": "{{ LDAP_ROOT_PWD_ENC }}"
    },
    "sgiam": {
      "user": "{{ LDAP_SGIAM_USER }}",
      "secret": "{{ LDAP_SGIAM_PWD_ENC }}"
    }
  },
  "cluster": {
    "env_type": "VM",
    "cluster_id": "{{ CLUSTER_ID }}",
    "cluster_ip": "127.0.0.1",
    "dns_servers": [
      "8.8.8.8"
    ],
    "mgmt_vip": "127.0.0.1",
    "server_nodes": {
      "{{ MACHINE_ID }}": "srvnode_1"
    },
    "storage_sets": {
      "storageset_1": [
        "srvnode_1",
        "srvnode_2",
        "srvnode_3"
      ],
      "storageset_2": [
        "srvnode_4",
        "srvnode_5",
        "srvnode_6"
      ]
    },
    "search_domains": [
      "seagate.com"
    ],
    "srvnode_1": {
      "roles": [
        "primary",
        "openldap_master"
      ],
      "s3_instances": "11",
      "site_id": "DC01",
      "rack_id": "RC01",
      "node_id": "SN01",
      "storage_set_id": "ST01",
      "machine_id": "{{ MACHINE_ID }}",
      "bmc": {
        "ip": "127.0.0.1",
        "secret": "{{ BMC_SECRET_ENC }}",
        "user": "{{ BMC_USER }}"
      },
      "hostname": "{{ HOSTNAME }}",
      "network": {
        "data": {
          "gateway": "255.255.255.0",
          "interfaces": [
            "eth1",
            "eth2"
          ],
          "netmask": "255.255.255.0",
          "public_ip": "127.0.0.1",
          "private_ip": "{{ IP_ADDRESS }}",
          "roaming_ip": "127.0.0.1"
        },
        "mgmt": {
          "gateway": "127.0.0.1",
          "interfaces": [
            "eth0"
          ],
          "netmask": "255.255.255.0",
          "public_ip": "127.0.0.1"
        }
      },
      "storage": {
        "enclosure_id": "enclosure_1",
        "data_devices": [
          "{{ DATA_DEVICE }}"
        ],
        "metadata_devices": [
          "{{ METADATA_DEVICE }}"
        ]
      }
    }
  }
}