{
   "cortx":{
      "software":{
         "common":{
            "message_bus_type":"kafka"
         },
         "kafka":{
            "servers":[
               "{{ HOST }}:9092"
            ]
         }
      }
   }
}